section.body {
	padding: $vertical-padding $horizontal-padding;
	flex: 1 0 auto;

	.textual {
		@include flex(flex, row, flex-start, space-between);

		.left-group,
		.right-group {
			width: 32vw;
			@include flex(flex, column, flex-start, flex-start);

			// form
			form {
				width: 100%;
			}

			.ie {
				width: 32vw;
			}

			// example image
			.example {
				width: 32vw;
				height: auto;
			}

			// social media links
			.social {
				margin: $vertical-small 0;

				svg {
					width: 30px;
					height: 30px;
					margin-right: 20px;

					g {
						fill: var(--body-text);
					}

					&:hover {
						g {
							opacity: 0.9;
						}
					}
				}
			}

			#btn-download {
				display: block;
				width: 100%;
				padding: 5px 10px;
				margin: $vertical-small 0 0;
				color: var(--body-text);
				border: 1px solid var(--body-text);
				border-radius: 5px;
				text-align: center;

				&:hover {
					background-color: #4e9d85;
					color: var(--body-background);
				}
			}
		}
	}

	@media #{$phone} {
		.textual {
			display: block;
			.left-group,
			.right-group {
				width: 100%;
			}
		}
	}
}
