section.body {
  padding: $vertical-padding 0;
  @include flex(flex, row, flex-start, center);

  .left-group {
    margin-right: 30px;
  }

  .left-group,
  .right-group {
    width: 500px;
    @include flex(flex, column, flex-start, space-evenly);

    // form
    form {
      width: 100%;
    }

    .ie {
      width: 32vw;
    }

    // example image
    .example {
      width: 100%;
      height: auto;
    }

    // social media links
    .social {
      margin: $vertical-small 0;

      svg {
        width: 30px;
        height: 30px;
        margin-right: 20px;

        g {
          fill: var(--body-text);
        }

        &:hover {
          g { fill: $booker-green; }
        }
      }
    }

    #btn-download {
      display: block;
      width: 100%;
      padding: 5px 10px;
      margin: $vertical-small 0 0;
      color: var(--body-text);
      border: 1px solid var(--body-text);
      border-radius: 5px;
      text-align: center;

      &:hover {
        background-color: $booker-green;
        color: var(--body-background);
      }
    }
  }

  // NOTE: tablet
  @media #{$tablet} {
    .left-group {
      width: 400px;
    }
  }

  // NOTE: tablet-portrait
  @media #{$tablet-portrait} {
    @include flex(flex, column, flex-start, center);

    .left-group,
    .right-group {
      width: 500px;
      margin: auto;
    }
  }

  // NOTE: phone
  @media #{$phone} {
    @include flex(flex, column, flex-start, center);

    .left-group,
    .right-group {
      width: 300px;
      margin: auto;
    }
  }
}
