div#generated-image {
  width: 500px;
  height: 500px;
  position: relative;
  padding-top: 20px;
  overflow: hidden;

  // avatar
  .avatar-container {
    width: 175px;
    height: 175px;
    overflow: hidden;
    @include flex(flex, row, center, center);
    border-radius: 50%;
    border: 8px solid white;
    margin: 0 0 0 20px;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
      min-height: 100%;
    }
  }

  // background image
  .background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  // text
  .text {
    margin-top: -15px;

    // location
    .location {
      background-color: black;
      color: white;
      width: fit-content;
      padding: 0 30px;
    }

    // endorsement
    .endorsement {
      margin: 5px 30px;

      h2 {
        background-color: white;
        color: red;
        width: fit-content;
        line-height: 1;
      }
    }

    // blurb
    .blurb {
      position: relative;

      span.quote-mark {
        @extend .h1;
        position: absolute;
        top: -20px;
        left: 15px;
        opacity: 0.3;
        color: white;
      }

      h3 {
        padding: 20px 50px;
        position: relative;
        color: white;
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  // fine print
  .fine-print {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;

    p {
      font-size: 10px;
    }
  }

  // base color
  .background-color {
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  // color overlay
  .overlay-color {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 2;
  }

  &.purpleBg {
    .background-color {
      background-color: $booker-purple;
    }
    .overlay-color {
      background-color: $booker-purple;
    }
  }
  &.yellowBg {
    .background-color {
      background-color: $booker-yellow;
    }
    .overlay-color {
      background-color: $booker-yellow;
    }
  }
  &.greenBg {
    .background-color {
      background-color: $booker-green;
    }
    .overlay-color {
      background-color: $booker-green;
    }
  }

  // text and avatar z-index because html2canvas on safari cannot take negative zindex
  .avatar,
  .avatar-container {
    position: relative;
    z-index: 4;
  }

  h3,
  h2,
  p,
  .text {
    position: relative;
    z-index: 5;
  }

  // NOTE: phone
  @media #{$phone} {
    height: 300px;
    width: 300px;
    padding-top: 10px;

    // avatar
    .avatar-container {
      height: 100px;
      width: 100px;
      border: 2px solid white;
      margin-left: 10px;
    }

    // text
    .text {
      .location {
        font-size: 10px;
        padding-left: 20px;
      }

      .endorsement {
        margin-left: 20px;

        h2 {
          font-size: 25px;
        }
      }

      .blurb {
        span.quote-mark {
          top: -10px;
          left: 10px;
        }
        h3 {
          padding: 5px 30px;
          font-size: 9px;
        }
      }
    }

    // base color
    .background-color {
      height: 150px;
    }
  }
}
