header {
  width: 100vw;
  background-color: $booker-purple;
  color: $booker-yellow;
  padding: $vertical-padding $horizontal-padding;

  .logo {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .textual {
    text-align: center;
    padding-top: 0;
  }

  @media #{$phone} {
    .textual {
      p {
        max-width: unset;
      }
    }
  }
}
