header {
  width: 100vw;
  background-color: #2a1e51;
  color: #f6c54f;
  padding: $vertical-padding $horizontal-padding;

  .textual {
    text-align: center;
    padding-top: 0;
    // p {
    //   max-width: 60vw;
    // }
  }

  .logo {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @media #{$phone} {
    .textual {
      text-align: center;

      p {
        max-width: unset;
      }
    }
  }
}
