header {
  width: 100vw;
  background-color: var(--header-background);
  color: $booker-yellow;
  padding: $vertical-padding $horizontal-padding;
  @include flex(flex, column, center, flex-start);

  // logo
  svg{
    width: 25%;
    margin-bottom: $vertical-padding;

    .svg-name{ fill: var(--header-text); }
    .svg-n, .svg-y{ fill: var(--header-text); }
  }

  .text {
    text-align: center;
    width: 60vw;
    color: var(--header-text);
  }

  @media #{$tablet-portrait} {
    .text{ width: 70vw; }
  }

  @media #{$phone} {
    svg{
      width: 60%;
      margin-bottom: 20px;
    }

    .text{ width: 100%; }
  }
}
