/*
----------------------------------------
Flex Box
----------------------------------------
*/

@mixin flex($flex-display: flex, $direction: column,  $align: center, $justify: center){
	display 						: -webkit-$flex-display; /* Safari */
	display 						: $flex-display;
 
	-webkit-flex-direction 	: $direction; /* Safari */
	flex-direction 			: $direction;
 
	-webkit-align-items 		: $align;
	align-items 				: $align;
 
	-webkit-justify-content : $justify;
	justify-content 			: $justify;
 }