/*
----------------------------------------
Spacing
----------------------------------------
*/

$vertical-padding: 50px;
$vertical-small: 30px;
$horizontal-padding: 9vw;

/*
----------------------------------------
Colors
----------------------------------------
*/
$booker-purple: #75d2f0;
$booker-yellow: #ffcf50;
$booker-green: #2f80ed;

:root {
  color-scheme: light dark;

  --color-Link: hsl(202, 65%, 63%);
  --body-background: white;
  --body-text: hsl(0, 0%, 13%);
  --header-background: #75d2f0;
  --header-text: #2f80ed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-Link: hsl(202, 65%, 63%);
    --body-background: #75d2f0;
    --body-text: hsl(0, 0%, 87%);
    --header-background: #ffcf50;
    --header-text: #2f80ed;
  }
}

/*
----------------------------------------
Resposive Helpers
----------------------------------------
*/

$tablet: "screen and (max-width: 1099px) and (min-width: 767px)";
$tablet-portrait: "screen and (max-width: 939px) and (min-width: 767px)";
$phone: "screen and (max-width: 766px)";
