/*
----------------------------------------
Spacing
----------------------------------------
*/

$vertical-padding: 50px;
$vertical-small: 30px;
$horizontal-padding: 9vw;

/*
----------------------------------------
Colors
----------------------------------------
*/
$booker-purple: #2a1e51;
$booker-yellow: #f6c54f;
$booker-green: #4e9d85;

:root {
  color-scheme: light dark;

  --color-Link: hsl(202, 65%, 63%);
  --body-background: white;
  --body-text: hsl(0, 0%, 13%);
  --header-background: #2a1e51;
  --header-text: #f6c54f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-Link: hsl(202, 65%, 63%);
    --body-background: #202020;
    --body-text: hsl(0, 0%, 87%);
    --header-background: #f6c54f;
    --header-text: #2a1e51;
  }
}

/*
----------------------------------------
Resposive Helpers
----------------------------------------
*/

$tablet: 'screen and (max-width: 1099px) and (min-width: 767px)';
$tablet-portrait: 'screen and (max-width: 939px) and (min-width: 767px)';
$phone: 'screen and (max-width: 766px)';
